custom_components/**/__pycache__/
blueprints/
.storage/
scripts.yaml
scenes.yaml
configuration.yaml
deps/
secrets.yaml
tts/
.gitignore
home-assistant*
.ha_run.lock
automations.yaml
.HA_VERSION
.cloud/
custom_components/cz_energy_spot_prices/
custom_components/solax_modbus/
custom_components/hacs/

